:root{
    --m1:15px;
    --br1:10px;
    --pr:50px;
    --pl:25px;
}
body{
    font-size: 1.1rem;
    margin: 5% 10%;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
}
h1{
    margin: 0;
    color:hsl(234, 12%, 34%);
}
h3{
    padding:var(--m1) var(--m1) 0 var(--pl);
    color:hsl(234, 12%, 34%);
}
/* ******************************************Heading********************************************* */
.heading{
    width: 50%;
    margin:auto;
    text-align: center;
    margin-bottom: 25px;
}

.light{
    font-weight: 200;
}
.dark{
    font-weight: 600;
}
.heading p{
    margin-bottom: 0;
}
/* ******************************************Card Container********************************************* */
.card-container{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: white;
    border-radius: var(--br1);
    overflow: clip;
    -webkit-box-shadow: 10px 22px 47px -11px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 22px 47px -11px rgba(0,0,0,0.4);
    box-shadow: 10px 22px 47px -11px rgba(0,0,0,0.4);
}
.card p{
    padding: 0 var(--pr) var(--m1) var(--pl)  ;
}
.col{
    flex:1;
    margin: 20px;
}
.img1{
    text-align: right;
    padding:var(--m1);
    margin:var(--m1)
}
hr{
    height: 5px;
    border:none;
}
.side{
    margin: auto 0;
}
.margin{
    margin-top: 20px;
}
/* /////////////////////////////////////// Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* ////////////////////////////////////// Mobile \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media only screen and (max-width: 720px) {
    body {
        margin: 10% 10%;
        font-size: 0.8rem;
    }
    .heading{
        width: 100%;
        margin:auto;
        text-align: center;
        margin-bottom: 25px;
    }
    .card-container{
        flex-direction: column;
    }
    .col{
        flex:1;
        margin: 0;
    }
    .side{
        margin: 0;
    }
  }